<section class="container-fluid combat">
    <div class="row weapons">
        <div class="col">
            <div class="text-center weapon"
                 [innerHTML]="getWeaponImage(getRound().weapons[0], players[0].id)">
            </div>
        </div>
        <div class="col">
            <div class="text-center weapon"
                 [innerHTML]="getWeaponImage(getRound().weapons[1], players[1].id)">
            </div>
        </div>
        <div class="vs" [class.ready]="weaponSelected() && !roundCompleted()">VS</div>
    </div>
    <div class="row play">
        <div *ngIf="!roundCompleted()" class="col text-center round-start">
            <div *ngIf="!weaponSelected()" class="text-center align-middle select">
                Select your weapon
            </div>
            <div *ngIf="weaponSelected()" class="text-center align-middle fight">
                <button type="button"
                        class="btn btn-primary btn-danger btn-lg"
                        (click)="fight()">
                    <span>Fight !</span>
                </button>
            </div>
        </div>
        <div *ngIf="roundCompleted()" class="col text-center round-ended">
            <div class="row next-round">
                <div class="col text-center align-middle">
                    <button *ngIf="!allRoundsCompleted()"
                            type="button"
                            class="btn btn-primary btn-{{getRounds().length >= data.maxRounds ? 'warning' : 'success'}} btn-lg"
                            (click)="nextRound()">
                        {{getRounds().length >= data.maxRounds ? 'Tiebreaker round' : 'Next round'}}
                        <i></i>
                    </button>
                </div>
            </div>
            <div class="row result">
                <div class="col">
                    <div class="row mx-auto">
                        <div class="col text-center round-result text {{getResultType()}}">
                            <span>{{getResultText()}}</span>
                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="allRoundsCompleted()">
                        <div class="col text-center final-result-text {{getFinalResultType()}}">
                            <span>{{getFinalResultText()}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="allRoundsCompleted()"
                 class="row justify-content-center play-again">
                <button type="button"
                        class="btn btn-link btn-lg"
                        (click)="playAgain()">
                    Play again
                </button>
            </div>
        </div>
    </div>
</section>
