@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import 'custom';

html {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include media-breakpoint-up(xs) {
        font-size: 10px;
    }

    @include media-breakpoint-up(sm) {
        font-size: 12px;
    }

    @include media-breakpoint-up(md) {
        font-size: 14px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 16px;
    }

    @include media-breakpoint-up(xl) {
        font-size: 18px;
    }

    body {
        background-image: url("./assets/background.png");

        button {
            cursor: pointer;
        }
    }
}
